<html>
    <body>
        {% include "superior/barra.html" %}
        <h2 style="color: red">
            Hola alumnos estamos viendo el saludo desde la plantilla.
        </h2>

        {% comment %} NO TEMAS DISEÑADOR!!
        IGNORA ESTA PARTE.
        {% endcomment %}

        {% if nombre == 'Profesor Diego' %}
            <p>El curso lo imparte el profesor titular</p>
        {% else %}
            <p>El curso lo imparte el profesor suplente.</p>
        {% endif %}

        <p>El nombre del profesor es: {{nombre.upper}} {{apellido}}</p>
        <p>Estamos viendo la actualozación de la plantilla a día: {{fecha.day}} / {{fecha.month}} / {{fecha.year}}</p>
        <p><strong>Temas del curso:</strong></p>
        <p>
            <ul>
                {% if temas %}
                    {% for eltema in temas %}
                        <li>{{eltema|first|lower}}</li>
                    {% endfor %}
                {% else %}
                    <p>No hay elementos que mostrar!</p>
                {% endif %}
            </ul>
        </p>
    </body>
</html>